@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

* {
    background-color: #343435; /* #343435 #505150 #42474b; */
    color: #bdb8b4;
    font-family: 'Oxygen Mono', monospace;
}

a {
    color: #934838;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}